---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<table>
  <tr>
    <th>Statements</th>
    <th>Latest Version</th>
    <th>PDF</th>
  </tr>
  <tr>
    <td>Teaching Statement</td>
    <td><a href="https://docs.google.com/document/d/1q9jEYOf8GDHUQFpTzmE9ndA3cSlWPWQ8bbgkO2voD2w/edit?usp=sharing">Latest Version</a></td>
    <td><a href="../files/statements/Teaching Statement 08_05_2024">PDF</a></td>
  </tr>
  <tr>
    <td>DEI Statement</td>
    <td><a href="https://docs.google.com/document/d/13n5FgoGHrkQOX-zaeZj5XahGm0ANwrfQjJHIJwiTG6w/edit?usp=sharing">Latest Version</a></td>
    <td><a href="../files/statements/Diversity, Equity, and Inclusion Commitment Statement DEI 08_05_2024.pdf">PDF</a></td>
  </tr>
  <tr>
    <td>Research Statement</td>
    <td><a href="https://docs.google.com/document/d/1OxRqk0Z0x6WNBEoEZ8ho4YnWviNE0iP5TUSB6nbGllk/edit?usp=sharing">Latest Version</a>
    <td><a href="../files/statements/Research Statement 08 05 2024">PDF</a>
  </tr>
  <tr>
    <td>Selected Research and Creative Work</td>
    <td><a href="https://docs.google.com/document/d/1HhYwMPk0qyhOnXEUwatXQvvFDsNM1TTha_ybmZWdlXU/edit?usp=sharing">Latest Version</a>
    <td><a href="../files/statements/Selected Research and Creative Work 08_05_2024">PDF</a>
  </tr>
</table>

<!--
<h1>Statements</h1>
<p>Teaching Statement
  <br><a href="https://docs.google.com/document/d/1q9jEYOf8GDHUQFpTzmE9ndA3cSlWPWQ8bbgkO2voD2w/edit?usp=sharing">Latest Version</a>
  <br><a href="../files/statements/Teaching Statement 08_05_2024">PDF</a>
<p>DEI Statement
  <br><a href="https://docs.google.com/document/d/13n5FgoGHrkQOX-zaeZj5XahGm0ANwrfQjJHIJwiTG6w/edit?usp=sharing">Latest Version</a>
  <br><a href="../files/statements/Diversity, Equity, and Inclusion Commitment Statement DEI 08_05_2024.pdf">PDF</a>
<p>Research Statement
  <br><a href="https://docs.google.com/document/d/1OxRqk0Z0x6WNBEoEZ8ho4YnWviNE0iP5TUSB6nbGllk/edit?usp=sharing">Latest Version</a>
  <br><a href="../files/statements/Research Statement 08 05 2024">PDF</a>
<p>Selected Research and Creative Work
  <br><a href="https://docs.google.com/document/d/1HhYwMPk0qyhOnXEUwatXQvvFDsNM1TTha_ybmZWdlXU/edit?usp=sharing">Latest Version</a>
  <br><a href="../files/statements/Selected Research and Creative Work 08_05_2024">PDF</a>
</p>
-->

<p>
<h1>Courses</h1>
I am interested in teaching the following courses
<p><b>Extended Reality</b>
  <br>&nbsp;Introduction to Extended Reality
  <br>&nbsp;Spatial User Interface
<p><b>Game Design</b>
  <br>&nbsp;Introduction to Game Design
  <br>&nbsp;Tabletop Game Design
  <br>&nbsp;Experimental Games
<p><b>Game Engineering</b>
  <br>&nbsp;Mobile Games
  <br>&nbsp;Networked Games
  <br>&nbsp;Game Artificial Intelligence

</p>
  
  
<h1>Teaching Experience</h1>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
